body {
	padding-top: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	padding: 0px;
}

.hero {
	min-height: 550px;
	width: 100%;
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

.hero > div {
	display: flex;
	justify-content: center;
	height: 550px;
}

.hero h1, h2  {
	margin-top: 0px;
	line-height: 1.1;
}

.herotext {
	padding: 20px;
	flex-direction: column;
	background-size: cover;
	color: white;
	position: relative;
	align-items: flex-start;
	padding: 4em;
}

.herotext *:not(.bg-img) {
	z-index: 2;
}

.herotext .bg-img {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-filter: saturate(150%) contrast(50%);
}

.herotext h1, .herotext h2 {
	padding: 1.5rem;
	background: rgba(136, 28, 28, .75);
}

.herotext h1 {
	margin-left: 1em;
}

.herobtn  {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 26px;
	padding: 10px 20px;
	background: none;
	border-color: black;
}

.connect  {
	background-color: #222;
	border-top: 1px solid #080808;
	text-align: center;
	color: white;
	font-size: 3em;
	padding: 5px;
	line-height: 0;
	flex-direction: row;
	align-items: center;
}

.connect > div {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.connect-icons {
	flex-direction: column;
}

.connect-icons img {
	width: 3em;
	height: 3em;
	margin: 12px;
	filter: drop-shadow(0 0 1em black);
	-webkit-filter: drop-shadow(0 0 1em black);
}

.connect-icons img:hover {
	filter: drop-shadow(0 0 1em black) brightness(0.75);
	-webkit-filter: drop-shadow(0 0 1em black) brightness(0.75);
	transition: .2s;
}

.connect-icons a:after {
	content: '';
	width: 2em;
	height: 2em;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: -90px;
	top: -27px;
	transform: rotate(23deg);
	background-image: url('../img/share.svg');
}

.connect-icons a:last-child:after {
	transform: rotate(-23deg) rotateX(180deg);
	bottom: -30px;
	top: initial;
}

.connect-cta {
	margin-right: 1em;
}

.connect-cta h1 {
	margin-bottom: 0;
}

.connect-cta h2 {
	color: #9d9d9d;
	margin-top: 0;
}

.connect a  {
	color:white;
	position: relative;
}

.connect a:hover {
	color: #881c1c;
}

.connect a:not(:last-child) {
	margin-top: 0.5em;
}

.about {
	text-align:center;
	padding-top: 5rem;
	max-width: 60em;
	margin: auto;
}

.about .logo {
	margin-bottom: 5rem;
	max-width: 90%;
}

.about p {
	text-align: justify;
}

.about h1 {
	padding-bottom:1em;
	text-align: center;
}

.about a {
	color: #881c1c;
}

.about > .row {
	margin-bottom: 4em;
}

.about .text {
	margin: auto;
	margin-bottom: 5em;
}

.largeicon  {
	font-size: 10em;
	margin: .3em 0;
	line-height:0.6;
	color: #881c1c;
	text-align: center;
}

.card-text h2 {
	text-align: left;
	margin-bottom: 1em;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 50px;
	color: #9d9d9d;
	line-height: 50px;
}

@media (max-width: 768px) {
	.connect {
		flex-direction: column;
		padding: 1em 0;
	}

	.connect-cta {
		margin: 0;
	}

	.connect-cta > * {
		text-align: center;
	}
	
	.connect-icons img {
		height: 3em;
		width: 3em;
	}

	.connect-icons a:after {
		display: none;
	}

	.card-text h2 {
		text-align: center;
	}

       .about > .text,
       .about > .row {
		margin-bottom: 0;
	}

	body {
		/* Margin bottom by footer height */
		margin-bottom: 100px;
	}

	.herotext {
		padding: 0;
		max-height: 25em;
	}

	.herotext > h1 {
		margin-left: 0;
	}
}
